* { /* Reset css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
}

/* NavBar */

header{
    display: flex;
    justify-content: center;
    padding: 3vh;
    color: white;
    background-color: #1ed760;
}

header h1{
    font-size: 2rem;
}

header button{
    border: 2px solid #404040;
    background-color: #1F1F1F;
    color: white;
    border-radius: 50%;
    padding: 1%;
}

header button:hover, header input:hover, header a:hover{
    background-color: #2A2A2A;
}

header input{
    border: 1px solid #404040;
    background-color: #1F1F1F;
    color: white;
    border-radius: 20px;
    padding: 1%;
}

header a{
    border: 2px solid #404040;
    background-color: #1F1F1F;
    color: white;
    border-radius: 50%;
    padding: 1%;
}










section{
    background-color: #121212;
}