* { /* Reset css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
}

/*=================*/
/*      Header     */
/*=================*/

header{
    display: flex;
    align-items: center;
    padding: 0.2vh;
    color: white;
    //background-color: #1ed760;
    justify-content: space-between;
}

header h1 {
    text-align: start;
    font-size: 2rem;
    justify-self: start;
    margin-right: 1%;
}

header button{
    border: 2px solid #404040;
    background-color: #1F1F1F;
    color: white;
    padding: 2%;
    border-radius: 50%;
}

header button:hover, header input:hover, header a:hover{
    background-color: #2A2A2A;
}

header input{
    border: 1px solid #404040;
    background-color: #1F1F1F;
    color: white;
    width: 55vh;
    border-radius: 30px;
    padding: 3%;
}

header a{
    border: 2px solid #404040;
    background-color: #1F1F1F;
    color: white;
    padding: 0.7%;
    border-radius: 50%;
    margin-left: 1%;
}

nav{
    display: flex;
    align-items: center;
    color: white;
    width: auto;
    gap: 3%;
}

/*=================*/
/*     Contenu     */
/*=================*/

.container {
    margin-top: 0.2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    min-height: 90vh;
}

.container-un {
    background-color: #202020;
    grid-column: 1 / 1;
    grid-row: 1/4;
    border-radius: 10px;
    margin-left: 2%;
    bottom: 0;
}

.container-deux {
    color: white;
    background-color: #202020;
    grid-column: 2/4;
    grid-row: 1/3;
    border-radius: 10px;
    margin-right: 1%;
    bottom: 0;
}

.container-deux h2{
    text-align: start;
    margin: 3vh;
}

.container-playlist .album img{
    border-radius: 10px;
}

.container-playlist .album p:nth-child(2){
    font-weight: bold;
}

.container-playlist{
    overflow: hidden;
    display: flex;
    gap: 7%;
    margin: 2%;
}


/*=================*/
/*   Bar audio     */
/*=================*/

section:nth-child(3) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
}